@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@1,700&family=Roboto:wght@400;500;700;900&display=swap');

body
{
    background-color: rgb(36, 33, 33);
    
}

.button1
{
    border-color: rgb(62, 166, 255);
    background-color: transparent;
    color:rgb(62,166,255);
    border-radius: .1em;
    width: 10em;
    height: 3em;
    border-width: 1.8px;
    border-style:solid;
        
}
.button2
{
    border-color:none;
    color: white;
    background-color: rgb(52, 125, 57);
    border-style: none;
    width: 150px;
    height: 20px;
    border-radius: .4em;
}
.button3
{
    background-color:rgb(44, 32, 61) ;
    border-style: solid;
    color: white;
    border-color: white;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    font-family: 'Cantarell', sans-serif;
    font-style: italic;
    height: 3em;
    width: 8em;
}
form
{
    width: 600px;
    margin: 5em auto;
    padding: 2em;
    background-color: transparent;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(187, 180, 180, 0.849);
    text-align: center;
    
}
